.navbar-nav {
    background-color: rgb(236, 68, 236);
}


header {
      margin: 0;
      padding: 0;
      justify-content: center;
}

.navbar-brand {
    font-size: 24px; /* Adjust the font size as needed */
}

.navbar-brand img {
    width: 40px; /* Adjust the width of the image */
    height: 40px; /* Adjust the height of the image */
    margin-right: 10px;
    
}

#A{
    background-color: aqua;
}
#B{
    background-color: yellow
}
#C{
    background-color: green;
}
  